chroma/
check-stores.js
chroma-data/
scark.db
dist/

# next
.next/
renderer/.next/
renderer/.next
renderer/out/


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
scark.db-shm
scark.db-wal
